* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header p {
    font-style: italic;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

section {
    padding: 60px;
    text-align: center;
}

#about img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-content {
    max-width: 600px;
    margin: auto;
}

#skills {
    background-color: #f0f0f0;
}

.skills-list {
    display: inline-block;
    text-align: left;
    padding: 0;
    list-style: none;
}

.skills-list li {
    background-color: #e2e2e2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

#projects {
    background-color: #f8f8f8;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    border-radius: 5px;
}

#resume {
    background-color: #f0f0f0;
}

#contact {
    background-color: #333;
    color: #fff;
}

#contact a {
    color: #00bfff;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #00bfff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
